.hidden {
  display: none !important;
}

.popup {
  position: absolute;
  left: 50%;
  top: 25%;
  transform: translate(-50%, -50%);
}
.board-definition {
  display: flex;
  flex-direction: column;
  border: 1px solid #e1e1e1;
  padding: 20px;
  background: #8ccaaa;
  text-align: center;
}

.board-definition p {
  font-weight: 700;
  font-size: 18px;
  margin-bottom: 15px;
}

.board-definition input {
  border-radius: 10px;
  border: none;
  border: 1px solid #e1e1e1;
  padding-left: 10px;
  padding-right: 10px;
  text-align: center;
}

.board-definition input + input {
  margin-top: 15px;
}

.board-definition input + button {
  margin-top: 25px;
}

.board-definition button {
  border: none;
  background: white;
  border-radius: 60px;
  font-weight: 700;
  font-size: 16px;
  height: 30px;
  cursor: pointer;
}

.board-definition button + button {
  margin-top: 15px;
}

.board {
  display: flex;
  justify-content: center;
}

.board td {
  width: 20px;
  height: 20px;
  border: 1px solid;
}

.board td.active {
  background: red;
}

.alive {
  background: #ff5400;
}

.new-born {
  background: #ffbf00;
}

td:hover:not(.alive):not(.new-born) {
  background: red;
}

main {
  display: flex;
  flex-direction: column;
}

header {
  margin-bottom: 30px;
}

header h1 {
  text-align: center;
  background: gainsboro;
  font-weight: 700;
  font-size: 28px;
}

.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}
.button-container button {
  margin-right: 10px;
}
.button-container .show-form-button,
.button-container button {
  border: 1px solid;
  border-radius: 10px;
  height: 30px;
  display: flex;
  align-items: center;
  padding-left: 10px;
  padding-right: 10px;
  background: none;
  cursor: pointer;
  min-width: 61px;
  justify-content: center;
}
.button-container .show-form-button:hover,
.button-container button:hover {
  background: gold;
  border-color: gold;
  color: white;
}
